body{
  font-family:'Montserrat';
}

h1{
/* font-family: 'Montserrat-black'; */
font-size: 3.5rem;
font-weight: 900;
line-height: 1.5;
}

#title{
  background-color: #ff4c68;
  color: white;
}
.container-fluid{
  padding: 3% 15% 7%;

}

.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
}
.download-but{
  margin: 5% 3% 5% 0;
}
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
.features-icon{
  font-size: 2.5rem;
  color: #ef8172;
  margin-bottom: 5%;
}
.features-icon:hover {
  color: #ff4c68;
}
.features-bold{
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
  font-weight: 900;
}
.features-light{
  color: #8f8f8f;
}
#features{
  padding: 7% 15%;
position: relative;
background-color: #fff;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: white;
}
h2{
  /* font-family: "Montserrat-Bold"; */
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
.test-pic{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color:  #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-pic{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-indicators{
  margin-top: 20%;
}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-col{
  padding: 2% 3%;
}
@media (max-width: 1028px ) {
  .title-img{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}
